<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <bean id = "arbuz"
             class = "org.example.second.arbuz" >

       </bean>

    <bean id = "apple"
          class="org.example.second.Apple">

    </bean>

    <bean id = "grusha"
          class="org.example.second.Grusha">

    </bean>

    <bean id = "cooking"
          class = "org.example.second.Cooking">
          <property name = "fruitList">
              <list>
                  <ref bean="apple"/>
                  <ref bean="arbuz"/>
                  <ref bean="grusha"/>
              </list>
          </property>



</bean>
    </beans>